<!DOCTYPE html>
<html>
<head>
  <title>Mahsulot qo‘shish</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>Mahsulot qo‘shish</h2>
  <form method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Nomi" required><br>
    <input type="number" name="price" placeholder="Narxi" required><br>
    <input type="file" name="image"><br>
    <textarea name="note" placeholder="Eslatma"></textarea><br>
    <button type="submit">Qo‘shish</button>
  </form>
</body>
</html>
